---
layout: default
---
<main>
  <h1>Helping people articulate themselves using thoughtful, insightful solutions.</h1>
	<h1>fly gist tt ff</h1>
</main>

<div>
{% if site.posts %}
  <section>
    {% for post in site.posts %}
      <article>
        <a href="{{post.url}}" title="{{post.title}}">
          {{ post.title }}
        </a>
      </article>
    {% endfor %}
  </section>
{% endif %}
</div>

<section class="links"><a href="{{site.url}}/about">Find out more about me</a>, see <a href="{{site.url}}/services">what I can do for you</a> or <a href="mailto:hello@christopherporter.co.uk">get in touch</a></section>