::selection {
    background: $blue;
    color: white;
}
::-moz-selection {
    background: $blue;
    color: white;
}

* {
    box-sizing: border-box;
}

header {
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    width: 100%;
    font-size: 1.5rem;
}
body {
    padding: 6rem 1rem;
}
.carousel {
    width: 100%;
    overflow: auto;
    white-space: nowrap;
    ul {
        padding: 0;
    }
    li {
        display: inline-block;
        vertical-align: top;
        width: 85%;
        max-width: 800px;
        margin-right: 20px;
        white-space: normal;
    }
    img {
    width: 100%;
    margin: 0;
}
}

.post-list {
    margin: 2rem 0;
    padding: 0.5rem 0;
}

.bordered {
    border-style: solid;
    border-width: 1px 0;
    border-color: lighten($dark-grey, 70%);
}

.post-content {
    margin-left: 10%;
    .carousel {
        li {
            max-width: 600px;
        }
    }
}
.full-width {
    width: 100vw;
    margin-left: -1rem;
}
.links {
    font-size: 1.5em;
}
footer {
    margin-top: 2rem;
}