::selection {
    background: $blue;
    color: white;
}
::-moz-selection {
    background: $blue;
    color: white;
}
// Structure
* {
    box-sizing: border-box;
}
body {
    padding: 6rem 1rem;
}
.full-width {
    width: 100vw;
    margin-left: -1rem;
}
.bordered {
    border-style: solid;
    border-width: 1px 0;
    border-color: lighten($dark-grey, 70%);
}
// Elements
header {
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    width: 100%;
    font-size: 1.5rem;
    z-index: 1;
}
.carousel {
    width: 100%;
    overflow: auto;
    white-space: nowrap;
    ul {
        padding: 0;
    }
    li {
        display: inline-block;
        vertical-align: top;
        width: 85%;
        max-width: 800px;
        margin-right: 20px;
        white-space: normal;
    }
    img {
        width: 100%;
        height: auto;
        margin: 0;
    }
}
.content {
    @include medium {
        margin-left: 10%;
    }
    .carousel {
        li {
            max-width: 600px;
        }
        h5 {
            margin-left: 0;
            margin-bottom: 0;
        }
    }
    img {
        width: 100%;
        height: auto;
        max-width: 800px;
        @include medium {
            margin-left: -10%;
        }
    }
}
.services {
    h2 {
        margin-bottom: 0.5rem;
    }
    @include large {
        display: flex;
        flex-wrap: wrap;
    }
    div {
        flex-grow: 1;
        flex-basis: 50%;
        margin-bottom: 2rem;
    }
}
.post-list {
    margin: 2rem 0;
    padding: 0.5rem 0;
}
.links {
    font-size: 1.5em;
}
footer {
    margin-top: 2rem;
}