header {
	background: white;
	position: fixed;
	top: 0;
	left: 0;
	padding: 20px;
	width: 100%;
	font-size: 1.5rem;
}

header em {
	display: block;
}

body {
	padding: 6rem 1rem;
}

.case-studies {
	width: 100%;
    overflow: auto;
    white-space: nowrap;
}

.case-studies ul {
	padding: 0;
}

.case-studies li {
	display: inline-block;
	vertical-align: top;
    width: 85%;
    margin-right: 20px;
    white-space: normal;
}

.case-studies img {
	width: 100%;
	margin: 0;
}

img {
	width: 100vw;
	margin-left: -1rem;
}

.links {
	font-size: 1.5em;
}

footer {
	margin-top: 2rem;
}