@font-face {
    font-family: 'Cormorant-Regular';
	src: url('/cormorant/Cormorant-Regular.eot');
	src: url('/cormorant/Cormorant-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Cormorant-Italic';
	src: url('/cormorant/Cormorant-Italic.eot');
	src: url('/cormorant/Cormorant-Italic.woff') format('woff');
}

html {
	font-family: 'Cormorant-Regular', Georgia, serif;
	-webkit-font-variant-ligatures: common-ligatures; /* for iOS and Safari 6 */
	font-variant-ligatures: common-ligatures; /* for up-to-date browsers, including IE10 and Opera 21 */
	-webkit-font-feature-settings: "kern";
	font-feature-settings: "kern";
	font-kerning: normal;
	color: $main;
	font-size: 20px;
}

em {
	font-family: 'Cormorant-Italic', Georgia, serif;
}

h1, h2, h3, h4, h5, h6, p, span {
	font-weight: 100;
	max-width: 450px;
}

h1 {
	font-size: 1.5em;
}

h2 {
	font-size: 1.2em;
	font-weight: 600;
}

h3 {}

h4 {}

h5 {}

h6 {}

a {}

a:hover {
	text-decoration: none;
}

.list {
	display: table;
	padding: 0;
	
}

.list > li {
	display: table-row;
	list-style-type: none;
}

.list > li:before {
	content: "–";
    display: table-cell;
	padding-right: 10px;
}

