@font-face {
    font-family: 'Cormorant-Regular';
	src: url('/cormorant/Cormorant-Regular.eot');
	src: url('/cormorant/Cormorant-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Cormorant-Italic';
	src: url('/cormorant/Cormorant-Italic.eot');
	src: url('/cormorant/Cormorant-Italic.woff') format('woff');
}

html {
	font-family: 'Cormorant-Regular', Georgia, serif;
	-webkit-font-variant-ligatures: common-ligatures; /* for iOS and Safari 6 */
	font-variant-ligatures: common-ligatures; /* for up-to-date browsers, including IE10 and Opera 21 */
	-webkit-font-feature-settings: "kern";
	font-feature-settings: "kern";
	font-kerning: normal;
	color: $main;
}

em {
	font-family: 'Cormorant-Italic', Georgia, serif;
}