@font-face {
    font-family: 'Cormorant-Regular';
	src: url('/cormorant/Cormorant-Regular.eot');
	src: url('/cormorant/Cormorant-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Cormorant-Italic';
	src: url('/cormorant/Cormorant-Italic.eot');
	src: url('/cormorant/Cormorant-Italic.woff') format('woff');
}

html {
	font-family: $font-stack-normal;
	-webkit-font-variant-ligatures: common-ligatures;
	font-variant-ligatures: common-ligatures;
	-webkit-font-feature-settings: "kern";
	font-feature-settings: "kern";
	font-kerning: normal;
	color: $dark-grey;
	font-size: 24px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

em {
	font-family: $font-stack-italic;
}

h1, h2, h3, h4, h5, h6, p, span, blockquote {
	font-weight: 100;
	max-width: 600px;
}

h1 {
	font-size: 1.5em;
}

h2 {
    font-size: 1.25em;
}

.subtitle {
    font-size: 1rem;
    font-family: $font-stack-italic;
    color: lighten($dark-grey, 30%);
}

h3 {}

h4 {}

h5 {
    color: lighten($dark-grey, 30%);
}

h6 {}

a {
    color: $blue;
    text-decoration: none;
}

a:hover {
	text-decoration: underline;
    }

a:visited {}

blockquote {
    margin: 0;
    padding-left: 2rem;
    border-left: solid $taupe 1px;
    color: $taupe;
}

.list {
	display: table;
	padding: 0;
    margin: 0;
	
}

.list > li {
	display: table-row;
	list-style-type: none;
}

.list > li:before {
	content: "–";
    display: table-cell;
	padding-right: 10px;
}

