/**
 *
 * There are two breakpoints located in /_sass/_queries.scss
 * One for tablets, and one for desktops. NKD is mobile first.
 * This sets the range for those breakpoints.
 * Queries are meant to be extended as needed.
 *
 */

/* Large Breakpoint */
$LARGE-min-width: 64em;

/* Medium Breakpoint */
$MEDIUM-max-width: 64;
$MEDIUM-min-width: 32em;

$main: #3f3f3f;
$blue: #0000e1;
$navy: #0000a5;
$pink: #f6839d;
$taupe: #d3c19c;
$cream: #f9f2d4;

