// Media queries 
$medium-breakpoint: 32em;
$large-breakpoint: 64em;

// Colours
$dark-grey: #3f3f3f;
$blue: #0000e1;
$navy: #0000a5;
$pink: #f6839d;
$taupe: #d3c19c;
$cream: #f9f2d4;
$off-white: #FCFCFC;
$primary: #FF9800;
$secondary: #7E8AA2;

// Consistant measurements

$content-body-width: 600px;
$content-image-indent: 2em;

// Font stacks
$font-stack-normal: 'Cormorant-Regular', Georgia, serif;
$font-stack-italic: 'Cormorant-Italic', Georgia, serif;
$font-stack-caption: Arial, sans-serif;