// Media queries 
$medium-breakpoint: 32em;
$large-breakpoint: 64em;

// Colours
$dark-grey: #3F3F3F;
$off-white: #FAFAFA;
$primary: #FF9800;
$secondary: #7E8AA2;

// Consistant measurements

$content-body-width: 600px;
$content-image-indent: 2em;

// Font stacks
$font-stack-normal: 'Cormorant-Regular', Georgia, serif;
$font-stack-italic: 'Cormorant-Italic', Georgia, serif;
$font-stack-caption: Arial, sans-serif;